.links {
  font-size: 20px;
}
.title {
  font-size: 30px;
}
.logout {
  font-size: 15px;
}
.footer-copyright{
  color: #808080;
}
.footer-content{
  margin-top: 15px;
  margin-bottom: 15px;
}
.font-small{
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.fbButton{
  text-align: center;
}
.big-text{
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
}
.small-text{
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
}
.login-text{
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
.carousel-inner{
  margin: auto;
}
.carousel{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 450px;
}
