.links {
  font-size: 20px;
}
.title {
  font-family: 'Acme', sans-serif;
  font-size: 30px;
}
.logout {
  font-size: 15px;
}
.footer-copyright{
  color: #808080;
}
.footer-content{
  margin-top: 15px;
  margin-bottom: 15px;
}
.font-small{
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.fbButton{
  padding-top: 5px;
  text-align: center;
}
.big-text{
  font-family: 'Acme', sans-serif;
  padding-top: 0px;
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
}
.small-text{
  font-family: 'Quattrocento', serif;
  padding-top: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}
.carousel-inner{
  margin: auto;
  width: 70%;
  height:100%;
}
.carousel{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
}
