.col-md-8{
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  float: none;
}
.map{
  height: 475px;
}
.modal {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  float: none;
}
#map{
  float: right;
}
.steps{
  margin-right: 2px;
  margin-left: 20px;
  margin-top: 10px;
  width: 110%;
  height: 475px
}
.maps-container{
  margin-right: 20px;
}
.post-title{
  font-family: 'Acme', sans-serif;
  margin-top: 2px;
  color: white;
  text-align: center;
}
li{
  font-family: 'Quattrocento', serif;
  color: white;
  font-size: 20px;
}
.userPostButton{
  margin-left: 7px;
}
.submit{
  padding-top: 5px;
}
.fish-submission{
  color: white;
}
.close{
  color: white;
}
