
.spacing{
  margin-top: 10px;
}
input[type=file] {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
}
.submit{
  margin-top: 10px;
}
.form-container{
  margin-top: 1px;
  margin-left: 120px;
  margin-left: 120px;
  margin-bottom: 10px;
  display: inline-block;
  display: flex;
}
